<html>
	<head></head>
	<body>
		<h4><%=@title%></h4>
		<ol>
			<%@packages.each do |p|%>
				<li>
					<a href="/packages/<%=p.data['Package']%>">
							<%=p.data['Package']%></a> (<a href="/packages/<%=p.data['Package']%>/<%=p.data['Version']%>"><%=p.data['Version']%></a>)
				</li>
			<%end %>
		</ol>
	</body>
</html>
