<html>
	<head></head>
	<body>
		<h4><%=@title%></h4>
		<ul>
			<%@package.data.each do |k, v|%>
				<% if k == "Depends"%>
					<li> Dependencies:
						<ul>
							<%@package.dependencies.each do |d| %>
								<li>
									<a href="/packages/<%=d.first%>"><%=d.first%></a>
									<% if d.length > 1 %>
									<% version = d.last.sub(')', '') %>
										<a href="/packages/<%=d.first%>/<%=version%>"><%=version%></a>
									<% end %> 
								</li>
							<% end %>
						</ul>
					</li>
				<% elsif k == "Author" %>
					<li> Authors:
							<ul>
							<%@package.authors.each do |a|%>
								<li>
									<a href="/authors/<%=a.first%>"><%=a.first%></a> <a href="/authors/<%=a.first%>"><%=a.last%></a>
								</li>
							<%end%>
							</ul>
					</lit>
				<% elsif k == "Maintainer" %>
				<% else%>
				<li><%=k%> : <%=v%></li>
				<% end %>
			<%end %>
		</ul>
	</body>
</html>
